<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.greenkiosk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreenKiosk">
        <activity
            android:name=".PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".OrdersFragments"
            android:exported="true" />
        <activity
            android:name=".ui.AccountMamambogaActivity"
            android:exported="true" />
        <activity
            android:name=".ui.DeliveryMethodActivity"
            android:exported="true" />
        <activity
            android:name=".ui.CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.StartActivity"
            android:exported="true" />
        <activity
            android:name=".ui.PaymentMethodActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ProductCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.CompleteOrdersActivity"
            android:exported="true" />
        <activity android:name=".ui.LoginActivity" />
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WorkinghoursActivity"
            android:exported="true" />
        <activity
            android:name=".ui.CustomerCart"
            android:exported="true" />
        <activity
            android:name=".ui.CustomerCheckout"
            android:exported="true" />
        <activity
            android:name=".ui.CustomerLocation"
            android:exported="true" />
        <activity
            android:name=".ui.Mamamboga_Location"
            android:exported="true" />
        <activity
            android:name=".ui.MamaMboga_Resetpassword"
            android:exported="true" />
        <activity
            android:name=".ui.MamaMbogaPending"
            android:exported="true" />
        <activity
            android:name=".ui.MamaMbogaVerificationCode"
            android:exported="true" />
        <activity
            android:name=".ui.Update_Orders_Activity"
            android:exported="true" />
        <activity
            android:name=".ui.CustomerVerification"
            android:exported="true" />
        <activity
            android:name=".ui.CustomerLogIn"
            android:exported="true" />
        <activity
            android:name=".ui.CustomerSignUp"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>