<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.greenkiosk">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreenKiosk">
        <activity
            android:name=".Customer.DeliveryMethodActivity"
            android:exported="true" />
        <activity
            android:name=".Customer.PaymentMethodActivity"
            android:exported="true" />
        <activity
            android:name=".MamaMboga.MamaMbogaSignUp"
            android:exported="true" />

        <activity
            android:name=".MamaMboga.CompleteOrdersActivity"
            android:exported="true" />
        <activity
            android:name=".MamaMboga.loginActivity"

        <activity
            android:name=".MamaMboga.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MamaMboga.WorkinghoursActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>